@font-face {
    font-family: "Quantico";
    src: url(/public/Quantico-Regular.ttf);
}

@font-face {
    font-family: "Quantico-Bold";
    src: url(/public/Quantico-Bold.ttf);
}

.countdown-timer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.countdown-timer .number {
    font-size: 5em;
    font-family: 'Quantico', Arial;
    font-weight: bold;
    color: whitesmoke;
    margin: 0;
}

.countdown-timer .number p {
    font-family: 'Quantico', Arial;
}

.countdown-timer .label p {
    font-family: 'Quantico', Arial;
    text-align: center;
}

.countdown-block {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 3%;
}

.countdown-timer .label {
    font-size: 1em;
    text-align: center;
    font-family: 'Quantico', Arial;
    color: whitesmoke;
}

.countdown-timer .countdown-block {
    display: flex;
}

p {
    margin: auto;
}

#hack-timer-desc, h2 {
    text-align: center;
}