@import url("root.css");

.countdown-timer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    font-family: 'Quantico-Bold', Arial;
}

.countdown-timer .number {
    color: var(--text-colour);
    margin: 0;
}

.countdown-timer .label {
    font-size: 1rem;
    text-align: center;
}

.countdown-timer .label p {
    text-align: center;
}

.countdown-block {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}

p {
    margin: auto;
}

#hack-timer-desc, h2 {
    text-align: center;
}