footer {
    background-color: #363636;
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem;
    margin: 2rem 0 0 0;
}

footer p {
    color: #fffbfc;
}

footer a {
    color: #6499e3;
}

footer a:visited {
    color: #DFC2F2;
}