#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    max-height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 4px;
}

.header-image-short {
    width: 50%;
    max-width: 200px;
    height: auto;
}

.header-image{
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    display: none;
}

@media screen and (min-width: 500px) {
    .header-image {
        display: block;
    }
    .header-image-short {
        display: none;
    }
    
}