@font-face {
    font-family: "Quantico";
    src: url(/public/Quantico-Regular.ttf);
}

@font-face {
    font-family: "Quantico-Bold";
    src: url(/public/Quantico-Bold.ttf);
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-height: 100px;
    border-radius: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 15%;
    margin-right: 15%;
    top: 0px;
    z-index: 1000;
    position: sticky;
    backdrop-filter: blur(10px);

}

#header-logo {
    height: 50px;
    width: auto;
}