@import url("root.css");

#landing-container {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: "Quantico-Bold", Arial;
    color: var(--text-colour);
    font-weight: bold;
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

h3 {
    font-family: "Quantico", Arial;
    color: var(--text-colour);
    font-size: 36px;
    margin: 0;
    text-align: center;
}

#main-logo {
    display: block;
    margin: 50px auto;
    padding-top: 5%;
    width: 25dvw;

    filter: drop-shadow(0 0 8px rgba(195, 50, 235, 0.8))
            drop-shadow(0 0 15px rgba(195, 50, 235, 0.6));

    transition: filter 0.3s ease-in-out;
}

#main-logo:hover {
    filter: drop-shadow(0 0 15px rgba(195, 50, 235, 1))
            drop-shadow(0 0 30px rgba(195, 51, 235, 0.8));
}

#register-interest {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    text-align: center;
    gap: 1rem;
    font-size: 1.5rem;
}

#register-interest > .nav-link {
    width: 80%;
    padding: 1rem 1rem;
}