@import url("root.css");

#landing-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: "Quantico-Bold", Arial;
    color: var(--text-colour);
    font-weight: bold;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

h3 {
    font-family: "Quantico", Arial;
    color: var(--text-colour);
    font-size: 2.25rem;
    margin: 0;
    text-align: center;
}

#main-logo {
    display: block;
    margin-top: 1.8rem;
    padding-top: 5%;
    width: 25dvw;
    max-width: 460px;
    min-width: 250px;

    filter: drop-shadow(0 0 8px rgba(195, 50, 235, 0.8))
            drop-shadow(0 0 15px rgba(195, 50, 235, 0.6));

    transition: filter 0.3s ease-in-out;
}

#main-logo:hover {
    filter: drop-shadow(0 0 15px rgba(195, 50, 235, 1))
            drop-shadow(0 0 30px rgba(195, 51, 235, 0.8));
}

#register-interest {
    margin: 2rem 0 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    text-align: center;
    gap: 1rem;
    font-size: 1.5rem;
}

#register-interest > .nav-link {
    width: 80%;
    padding: 1rem 1rem;
}

@media (max-width: 1300px) {
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.2rem;
    }

    #register-interest {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    #title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    #title > span {
        line-height: 3rem; /* equal to font-size, so no space between lines */
        padding: 0 11px; /* ...but maintain the gap between the title and above/below elements */
    }
}