@font-face {
    font-family: "MADETommy Soft Bold";
    src: url('/fonts/MADE Tommy Soft Bold.otf') format('opentype');
}

html {
    background-color: #ccc;
}

h1, h2, h3, p {
    color: #363636;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "MADETommy Soft Bold";
    font-size: 2.5rem;
    justify-content: center;
    margin: 0.5rem 0;
}

h2 {
    font-family: "MADETommy Soft Bold";
    font-size: 1.5rem;
    /*color: #363636;*/
    justify-content: center;
    margin: 0.5rem 0;
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    
}