@font-face {
    font-family: "MADETommy Soft Bold";
    src: url('/fonts/MADE Tommy Soft Bold.otf') format('opentype');
}

h1 {
    font-family: "MADETommy Soft Bold";
    font-size: 2rem;
    justify-content: center;
    margin: 0.5rem 0;
}

h2 {
    font-family: "MADETommy Soft Bold";
    font-size: 1.2rem;
    justify-content: center;
    margin: 0.5rem 0;
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}
.team-heading {
    font-family: "MADETommy Soft Bold";
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
    color: #000;
}
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    .team-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}
.team-member {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.team-member-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.team-member-name {
    margin: 10px 0 5px;
    font-size: 1em;
    color: #333;
    font-family: "MADETommy Soft Bold";
}
.team-member-role {
    color: #666;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: "MADETommy Soft Bold";
}