---
import Mlh from "../components/mlh.astro";
import Landing from "../components/landing.astro";
import Countdown from "../components/countdown.astro";
import Compsoc from "../components/compsoc.astro";
---
<html>
	<head>
		<title>HackSheffield10</title>
		<link rel="icon" type="image/png" href="/hs10_logo.svg">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="HackSheffield10 is The University of Sheffield flagship hackathon, that will take place on the 15th-16th of November 2025. It will be a weekend full of coding, workshops, and fun!"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link href="../styles/root.css" rel="stylesheet">
	</head>
	<body>
		<main>
			<Countdown />
			<Landing />
			<Compsoc />
		</main>
		<Mlh />
	</body>
</html>

<style>
	body {
		background-color: var(--background-colour);
		background-image: url(nnnoise.svg);
		background-repeat: repeat;
		margin: 0;
		color: var(--text-colour);
		font-family: "Quantico", Arial, Helvetica, sans-serif;
	}

	main {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap:nowrap;
		justify-content: space-between;
		align-items: center;
	}
</style>