---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="HackSheffield 9">
	<main>
		<img src="hacksheffield9logotransparent.png" alt="HackSheffield 9" style="width: 100%">
		<p class="instructions">
			hackSheffield is returning in 2024! <br />
			We'll be back at the University of Sheffield for an incredible weekend of hacking, workshops, and fun. <br />
			Stay tuned for more information on how to get involved.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://discord.gg/t9ThWAbhD7"
				title="Discord"
				body="Join our Discord server to chat with other hackers and get updates."
			/>
			<Card
				href="https://instagram.com/shefcompsoc"
				title="Instagram"
				body="Follow us on Instagram for updates and behind-the-scenes content."
			/>
			<Card
				href="https://shefcompsoc.uk"
				title="CompSoc Website"
				body="Check out the CompSoc website for more information about the society behind the event."
			/>
			<Card
				href="https://www.tiktok.com/@compsoctiktok"
				title="TikTok"
				body="Follow us on TikTok for fun and engaging content."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 3.3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.instructions {
		color: #000;
		margin-bottom: 2rem;
		border: 5px solid rgba(66, 159, 53, 0.4);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.footer-logo {
		width: 100%;
		margin-top: 2rem;
	}
</style>
