---
import Header from '../components/header.astro';
import '../styles/main.css';
---

<!DOCTYPE html>
<html>
    <head>
        <title>HackSheffield 9</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <Header />
        <h1>hackSheffield 9</h1>
        <h2>16th-17th November 2024</h2>
        <!-- COUNTDOWN -->
        <p>hackSheffield 9 is a hackathon that will take place on the 16th-17th of November 2024. It will be a weekend full of coding, workshops, and fun!</p>
        <!-- TICKETS -->
        <!-- FAQ -->
        <!-- SCHEEDULE -->
        <!-- SPONSORS -->
        <!-- TEAM -->
        <!-- GALLERY -->
        <!-- FOOTER -->
    </body> 
</html>