---
import Mlh from "../components/mlh.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import FrasersGroupLogo from '../img/Logo_Frasers_Group.svg';
import GrafanaLogo from '../img/Grafana_logo.svg';
import { Image } from 'astro:assets';
import HexContainer from "../components/hex-container.astro";
---

<html>
	<head>
		<title>HackSheffield10</title>
		<link rel="icon" type="image/png" href="/hs10_logo.svg">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="HackSheffield10 is The University of Sheffield flagship hackathon, that will take place on the 29th-30th of November 2025. It will be a weekend full of coding, workshops, and fun!"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link href="../styles/root.css" rel="stylesheet">
		
	</head>

    <body>
        <Header />
        <main>
            <h1>Sponsors</h1>
            <h2 class="silver_sponsors_header">Silver Sponsors</h2>
            <HexContainer width="30rem" hexHeight="15rem" margin="0.5rem" extraStyles="margin: 2rem auto;">
				<div>
					<Image
						src={GrafanaLogo}
						alt="Grafana Logo"
						style="width: 70%; height: auto;margin-top: -1rem;"
					/>
				</div>
				<div>
					<Image
						src={FrasersGroupLogo}
						alt="Frasers Group Logo"
						style="width: 80%; height: auto; margin-top: 0rem;"
					/>
				</div>
        </main>
        <Mlh />
        <Footer />
    </body>
</html>

<style>
	body {
		background-color: var(--background-colour);
		background-image: url(/nnnoise.svg);
		background-repeat: repeat;
		margin: 0;
		color: var(--text-colour);
		font-family: "Quantico", Arial, Helvetica, sans-serif;
	}

	main {
		width: 100%;
		height: fit-content;
		min-height: 100vh;
	}

	.details {
		width: 85%;
		padding: 8rem 7.5%;
		display: flex;
		flex-direction: row;
		flex-wrap:nowrap;
		justify-content: space-between;
	}

    h1 {
        text-align: center;
        margin-top: 1rem;
        font-size: 5rem;
        color: var(--primary-colour);
    }

    .silver_sponsors_header {
        text-align: center;
        margin-top: 1rem;
        font-size: 3rem;
        color: Silver;
    }

    .silver-sponsors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 2rem;
        border-radius: 1rem;
        margin: 2rem auto;
        width: fit-content;
    }

    .inverted-logo {
        filter: invert(1);
        /* Use this class for logos with dark backgrounds to make them visible on the page */
    }


	@media (min-width: 1001px) { /* opposite of max-width: 1000px */
		.details {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, 0); /* centre the element */
			z-index: 500;
		}
	}

	@media (max-width: 1000px) {
		.details {
			flex-direction: column;
			justify-content: baseline;
			align-items: center;
		}
	}

	@media (max-width: 1300px) {
		.details {
			width: 94%;
			padding: 3rem 3%;
			gap: 5rem;
		}
	}
</style>