---
import HexContainer from "./hex-container.astro";
---
<HexContainer width="25rem" hexHeight="10rem" margin="0.5rem">
    <div>Hosted By</div>
    <div>
        <img
            src="kevin.png"
            alt="CompSoc Mascot: Kevin the Keycap"
            style="width: 70%; margin-top: 0.5rem;"
        />
    </div>
    <div>
        <img
            src="compsoc_light_text.png"
            alt="Sheffield CompSoc"
            style="width: 80%; margin-top: 0.5rem;"    
        />
    </div>
</HexContainer>