---
import "../styles/countdown.css";
import HexContainer from "./hex-container.astro";
---
<div class="countdown-timer">
    <h3 style="font-size: 2rem;">COUNTDOWN</h3>
    <HexContainer width="22rem" hexHeight="9rem" margin="0.4rem">
        <div>
            <span class="countdown-block">
                <span class="number"><p id="days">00</p></span>
                <span class="label"><p>days</p></span>
            </span>
        </div>
        <div>
            <span class="countdown-block">
                <span class="number"><p id="hours">00</p></span>
                <span class="label"><p>hours</p></span>
            </span>
        </div>
        <div>
            <span class="countdown-block">
                <span class="number"><p id="minutes">00</p></span>
                <span class="label"><p>minutes</p></span>
            </span>
        </div>
        <div>
            <span class="countdown-block">
                <span class="number"><p id="seconds">00</p></span>
                <span class="label"><p>seconds</p></span>
            </span>
        </div>
    </HexContainer>
</div>

<script>
    const targetDate = new Date("2025-11-29T12:00:00.000Z").getTime();

    function updateCountdown() {
        const now = new Date().getTime();
        let timeRemaining = targetDate - now;
        if (timeRemaining < 0) { return; }

        const daysElem = document.getElementById("days");
        const hoursElem = document.getElementById("hours");
        const minutesElem = document.getElementById("minutes");
        const secondsElem = document.getElementById("seconds");

        if (!daysElem || !hoursElem || !minutesElem || !secondsElem) return;

        if (timeRemaining < 0) {
            timeRemaining = now - targetDate;
        }

        const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

        daysElem.textContent = days.toString().padStart(2, '0');
        hoursElem.textContent = hours.toString().padStart(2, '0');
        minutesElem.textContent = minutes.toString().padStart(2, '0');
        secondsElem.textContent = seconds.toString().padStart(2, '0');
    }

    setInterval(updateCountdown, 1000);
    updateCountdown();
</script>