---
import "../styles/countdown.css";
import "dseg/css/dseg.css"
---
<div class="countdown-timer">
    <span class="countdown-block">
        <span class="number"><p id="days">0</p></span>
        <span class="label"><p>days</p></span>
    </span>
    <span class="countdown-block">
        <span class="number"><p id="hours">0</p></span>
        <span class="label"><p>hours</p></span>
    </span>
    <span class="countdown-block">
        <span class="number"><p id="minutes">0</p></span>
        <span class="label"><p>minutes</p></span>
    </span>
    <span class="countdown-block">
        <span class="number"><p id="seconds">0</p></span>
        <span class="label"><p>seconds</p></span>
    </span>
</div>
<h3 id="hack-timer-desc">until the hacking ends!</h3>


<script>
    const targetDate = new Date(Date.parse("2024-11-17T12:00:00.000+00:00")).getTime();

    function updateCountdown() {
        const now = new Date().getTime();
        let timeRemaining = targetDate - now;

        if (timeRemaining < 0) {
            timeRemaining = now - targetDate;
            document.getElementById("hack-timer-desc")!.textContent = "since the hacking ended!";
        }

        const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

        document.getElementById("days")!.textContent = days.toString().padStart(2, '00');
        document.getElementById("hours")!.textContent = hours.toString().padStart(2, '00');
        document.getElementById("minutes")!.textContent = minutes.toString().padStart(2, '00');
        document.getElementById("seconds")!.textContent = seconds.toString().padStart(2, '00');
    }

    const timerInterval = setInterval(updateCountdown, 1000);
    updateCountdown();
</script>