---
import "../styles/faq.css";
---

<div id="faqs-container">
    <h2>Frequently Asked Questions</h2>
    <div id="faqs">
        <details class="faq-item">
            <summary>Should I attend hackSheffield?</summary>
            <p>YES! please :) If you've ever thought about attending a hackathon, HackSheffield is a great place to start.</p>
        </details>

        <details class="faq-item">
            <summary>When and where will hackSheffield be?</summary>
            <p>HackSheffield 9 will be at 38 Mappin St., Sheffield, England.</p>
        </details>

        <details class="faq-item">
            <summary>How large can my team be?</summary>
            <p>HackSheffield will allow a maximum of 4 people per team.</p>
        </details>
    </div>
</div>