---
import "../styles/faq.css";
---

<div id="faqs-container">
    <h2>Frequently Asked Questions</h2>
    <div id="faqs">
        <details class="faq-item">
            <summary>Should I attend hackSheffield?</summary>
            <p>YES! please :) If you've ever thought about attending a hackathon, hackSheffield is a great place to start.</p>
        </details>

        <details class="faq-item">
            <summary>When and where will hackSheffield be?</summary>
            <p>hackSheffield 9 will be at 38 Mappin St., Sheffield, England. We'll be running the hackathon over the weekend of the 16th and 17th November 2024.</p>
        </details>

        <details class="faq-item">
            <summary>What should I bring to hackSheffield?</summary>
            <p>You should bring your laptop, a charger, any other hardware you might find you need, as well as a valid University ID and Government-issued photo ID. We'd recommend bringing a change of clothes, some toiletries, a sleeping bag, and any other items you'd like to keep yourself comfortable over the weekend.</p>  
        </details>

        <details class="faq-item">
            <summary>How large can my team be?</summary>
            <p>hackSheffield will allow a maximum of 4 people per team.</p>
        </details>

        <details class="faq-item">
            <summary>How much does it cost to enter?</summary>
            <p>Thanks to our sponsors, hackSheffield is completely free to attend, including food and drink throughout the weekend.</p>
        </details>

        <details class="faq-item">
            <summary>What if I don't have a team?</summary>
            <p>Don't worry! We'll have a Discord that you can join and form teams before the event. We'll also have teambuilding on Saturday morning, when you arrive.</p>
        </details>
        
        <details class="faq-item">
            <summary>Who can attend?</summary>
            <p>To be eligible to attend, you must be over 18, a current student at a university or college, or have graduated within the year!
                Anyone who is passionate about technology and innovation is welcome to attend, no matter your skill level or degree discipline.
            </p>
        </details>
        <details class="faq-item">
            <summary>Do I need loads of experience to participate?</summary>
            <p>Not at all! hackSheffield is a great place to learn new skills, meet new people, and have fun. We'll have workshops and mentors to help you out.</p>  
        </details>
    </div>
</div>