---
import "../styles/footer.css";
---

<footer>
    <p>
        HackSheffield 9 follows the <a href="https://hackp.ac/coc">MLH Code of Conduct</a>
    </p>
    <p>
        HackSheffield is hosted by the University of Sheffield Computing Society (<a href="https://shefcompsoc.uk/">Sheffield CompSoc</a>)
    </p>
</footer>