---
import { Image } from 'astro:assets';
const imageFiles = await Astro.glob("../img/gallery/*");
import "../styles/gallery.css";
---


<h2>Gallery</h2>
<div class="gallery-container">
  {
    imageFiles.map((img) => (
      <Image
        src={img.default}
        alt="Gallery image"
        class="gallery-image"
      />
    ))
  }
</div>