---
import { Image, Picture } from "astro:assets";

const imageFiles = await Astro.glob("../img/gallery/*");
---

<div>
	<h1>Gallery</h1>
	<div class="details">
		{
			imageFiles.map((img) => (
				<Picture
					src={img.default}
					alt="Gallery Image"
					style="width: 25rem; height: auto; border-radius: 1rem; padding: 0.5rem; background-color: white; margin: 0rem;"
				/>
			))
		}
	</div>
</div>

<style>
	body {
		background-color: var(--background-colour);
		background-image: url(/nnnoise.svg);
		background-repeat: repeat;
		margin: 0;
		color: var(--text-colour);
		font-family: "Quantico", Arial, Helvetica, sans-serif;
	}

	main {
		width: 100%;
		height: fit-content;
		min-height: 100vh;
	}

	.details {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		width: 94%;
		padding: 0rem 3%;
		gap: 5rem;
	}

	h1 {
		text-align: center;
		margin-top: 1rem;
		font-size: 5rem;
		color: var(--primary-colour);
	}

	img {
		border-radius: 1rem;
		padding: 4rem;
		background-color:;
	}

	@media (min-width: 1001px) {
		.details {
			left: 50%;
			z-index: 500;
		}
	}

	@media (max-width: 1000px) {
		.details {
			flex-direction: column;
			justify-content: baseline;
			align-items: center;
		}
	}

</style>
