---
import NavLinks from "./navlinks.astro"
import "../styles/header.css"
---
<section id="header">
    <h3 id="header-title">HackSheffield10</h3>
    <NavLinks />
    <div id="placeholder" style="width: 30%;"></div>
</section>