---
import NavLinks from "./navlinks.astro"
import "../styles/header.css"
---
<section id="header">
    <img id="header-logo" src="hs10_logo.svg">
    <NavLinks />
    <div id="placeholder" style="width: 0%;"></div>
</section>