---
import { Image } from 'astro:assets';
import hackSheffieldLogoImage from '../img/hacksheffield9logotransparent.png'
import Navlinks from './navlinks.astro';
---

<div>
    <Image src={hackSheffieldLogoImage} alt="HackSheffield 9 Logo" />
    <Navlinks />
</div>
