---
import "../styles/hex-container.css"

interface Props {
    hexHeight: string,
    margin: string,
    width: string,
    height?: string,
};

const {
    hexHeight,
    margin,
    width,
    height = "fit-content",
} = Astro.props;
---
<div
    class="hex-container"
    style={`height: ${height}; width: ${width}; --hex-height: ${hexHeight}; --margin: ${margin};`}
>
    <div class="hex-grid">
        <slot />
    </div>
</div>
