---
import "../styles/introduction.css";
import Countdown from './countdown.astro';
import Button from "./button.astro";
---

<div id="title-container">
    <div id="title">
        <h1>hackSheffield 9</h1>
        <h3>16th-17th November 2024</h3>
        <Countdown />
        <p class="blurb">hackSheffield 9 is a hackathon that will take place on the 16th-17th of November 2024. It will be a weekend full of coding, workshops, and fun!</p>
        <!--<p class="blurb">Tickets will be available from the morning of Monday 28th October 2024.</p>    -->
        <Button link="/tickets?source=homepage" text="Get your tickets!"/>
    </div>
</div>