---
import "../styles/introduction.css";
import Countdown from './countdown.astro';
import Button from "./button.astro";
---

<div id="title-container">
    <div id="title">
        <h1>hackSheffield 9</h1>
        <h2>16th-17th November 2024</h2>
        <Countdown />
        <p id="blurb">hackSheffield 9 is a hackathon that will take place on the 16th-17th of November 2024. It will be a weekend full of coding, workshops, and fun!</p>    
        <Button link="https://ti.to/sheffield-compsoc/hacksheffield-9" text="Get your tickets!"/>
    </div>
</div>