---
import "../styles/landing.css"
import "../styles/navlinks.css"
---
<div id="landing-container">
    <img id="main-logo" src="hs10_logo.svg">
    <h2>HACK<span style="color: var(--primary-colour);">SHEFFIELD</span>10</h2>
    <h3>The University of Sheffield</h3>
    <h3>15th - 16th November</h3>

    <div id="register-interest">
        <p>More information coming soon!</p>
        <a class="nav-link" href="#pre-reg">Register Interest</a>
    </div>
</div>