---
import "../styles/landing.css"
---
<div id="landing-container">
    <img id="main-logo" src="../public/hs10_logo.svg">
    <h2>HACKSHEFFIELD10</h2>
    <h3>The University of Sheffield</h3>
    <h3>15th - 16th November</h3>
</div>