---
import "../styles/landing.css"
import "../styles/navlinks.css"
---
<div id="landing-container">
    <img id="main-logo" src="hs10_logo.svg">
    <h2 id="title">
        <span>HACK</span><span style="color: var(--primary-colour);">SHEFFIELD</span><span>10</span>
    </h2>
    <h3>The University of Sheffield</h3>
    <h3>November 2025</h3>

    <div id="register-interest">
        <p>Apply for your tickets now!</p>
        <a class="nav-link" href="/tickets">Apply</a>
        <a id="discord-link" href="https://discord.gg/JBundnQyyp">Join our Discord!</a>
    </div>
</div>