---
import "../styles/navlinks.css"
---
<div id="nav-links">
    <a class="nav-link" href="#schedule">Schedule</a>
    <a class="nav-link" href="#sponsors">Sponsors</a>
    <a class="nav-link" href="#team">Meet The Team</a>
</div>