---
import "../styles/navlinks.css"
---
<div id="nav-links" class="nav-links">
    <a class="nav-link" href="#top">Home</a>
    <a class="nav-link" href="#faq">FAQ</a>
    <a class="nav-link" href="#sponsors">Sponsors</a>
    <a class="nav-link" href="#schedule">Schedule</a>
    <a class="nav-link" href="#gallery">Gallery</a>
</div>