---
import '../styles/schedule.css';
---

<div id="schedule">
    <h2>Event schedule</h2>
    <p><i>To be confirmed</i></p>
    <h3>Saturday 16th November</h3>
    <table>
        <tr>
            <td>09:00<span class="nomob">-10:30</span></td>
            <td>Registration opens<br>38 Mappin Street</td>
        </tr>
        <tr>
            <td>10:45</td>
            <td>Group walk to the Diamond<br>(3 minute walk)</td>
        </tr>
        <tr>
            <td>11:00<span class="nomob">-12:00</span></td>
            <td>Opening ceremony</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Hacking begins!<br>Group walk back to 38 Mappin Street</td>
        </tr>
        <tr>
            <td>13:00<span class="nomob">-14:00</span></td>
            <td>Lunch (approximate timing)</td>
        </tr>
        <tr>
            <td>14:00<span class="nomob">-14:30</span></td>
            <td><a href="https://shefesh.com/" target="_blank">ShefESH</a> Challenge Kickoff</td>
        </tr>
        <tr>
            <td>15:00<span class="nomob">-16:00</span></td>
            <td>Making Better Hacks, Faster with GitHub Copilot, led by MLH</td>
        </tr>
        <tr>
            <td>16:00<span class="nomob">-18:00</span></td>
            <td>Super-secret-event<br>More details at opening ceremony!</td>
        </tr>
        <tr>
            <td>18:30<span class="nomob">-19:30</span></td>
            <td>!Light mini event, led by MLH</td>
        </tr>
        <tr>
            <td>19:30<span class="nomob">-20:30</span></td>
            <td>Dinner (approximate timing)</td>
        </tr>
        <tr>
            <td>20:30<span class="nomob">-22:00</span></td>
            <td>Swing Dance Taster Session</td>
        </tr>
        <tr>
            <td>22:00<span class="nomob">-23:00</span></td>
            <td>Bingo!</td>
        </tr>
        <tr>
            <td>23:00<span class="nomob">-00:00</span></td>
            <td>Werewolf mini event</td>
        </tr>
        <tr>
            <td>00:00<span class="nomob">-01:00</span></td>
            <td>Karaoke!</td>
        </tr>
    </table>

    <h3>Sunday 17th November</h3>
    <table>
        <tr>
            <td>09:00<span class="nomob">-09:30</span></td>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>11:00</td>
            <td>Devpost submission (upload <i>anything</i>)</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Final deadline</td>
        </tr>
        <tr>
            <td>12:30<span class="nomob">-13:30</span></td>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>13:00<span class="nomob">-14:30</span></td>
            <td>Juding</td>
        </tr>
        <tr>
            <td>15:00<span class="nomob">-16:30</span></td>
            <td>Closing ceremony</td>
        </tr>
        <tr>
            <td>16:30</td>
            <td>Photos</td>
        </tr>
        <tr>
            <td>17:00</td>
            <td>Close of event (latest)</td>
        </tr>
        
    </table>
</div>
