---
import '../styles/schedule.css';
---

<div id="schedule">
    <h1>Event schedule</h1>
    <p><i>To be confirmed</i></p>
    <h3>Saturday 16th November</h3>
    <table>
        <tr>
            <td>09:00</td>
            <td>Registration opens<br>Team-building events</td>
        </tr>
        <tr>
            <td>10:00</td>
            <td>Opening ceremony</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Lunch<br>Hacking begins</td>
        </tr>
        <tr>
            <td>19:00</td>
            <td>Dinner</td>
        </tr>
        <tr>
            <td>23:30</td>
            <td>Evening activity</td>
        </tr>
    </table>

    <h3>Sunday 17th November</h3>
    <table>
        <tr>
            <td>00:00</td>
            <td>Midnight pizza</td>
        </tr>
        <tr>
            <td>02:00</td>
            <td>Game night</td>
        </tr>
        <tr>
            <td>03:00</td>
            <td>Karaoke</td>
        </tr>
        <tr>
            <td>07:30</td>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>10:30</td>
            <td>Project submissions open</td>
        </tr>
        <tr>
            <td>11:00</td>
            <td>Project submission deadline</td>
        </tr>
        <tr>
            <td>13:30</td>
            <td>Closing ceremony</td>
        </tr>
        <tr>
            <td>14:30</td>
            <td>Finishers' photoshoot</td>
        </tr>
        
    </table>
</div>