---
import '../styles/schedule.css';
---

<div id="schedule">
    <h2>Event Schedule</h2>
    <h3>Saturday</h3>
    <table>
        <tr>
            <td>09:00</td>
            <td>Doors Open<br></td>
        </tr>
        <tr>
            <td>10:00</td>
            <td>Team Building<br></td>
        </tr>
        <tr>
            <td>10:30<span class="nomob">-12:00</span></td>
            <td>Opening ceremony</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Hacking begins!<br></td>
        </tr>
        <tr>
            <td>13:00</td>
            <td>Lunch (approximate timing)</td>
        </tr>
        <tr>
            <td>14:00<span class="nomob">-14:45</span></td>
            <td>Reply: Agentic AI Workshop</td>
        </tr>
        <tr>
            <td>15:00<span class="nomob">-15:30</span></td>
            <td>Introduction to Grafana</td>
        </tr>
        <tr>
            <td>16:00</td>
            <td>ShefESH: Capture The Flag</td>
        </tr>
        <tr>
            <td>17:00<span class="nomob">-18:30</span></td>
            <td>(Drop In) Carnival Games!</td>
        </tr>
         <tr>
            <td>18:00</td>
            <td>MLH: Intro to Google AI Studio</td>
        </tr>
        <tr>
            <td>19:00</td>
            <td>Dinner (approximate timing)</td>
        </tr>
        <tr>
            <td>20:00<span class="nomob">-21:00</span></td>
            <td>TechVision: Leetcode challenge</td>
        </tr>
        <tr>
            <td>20:30</td>
            <td>MLH: Hacking with Github Copilot</td>
        </tr>
        <tr>
            <td>21:00<span class="nomob">-22:00</span></td>
            <td>GameDev Soc: Gamification Mini Competition</td>
        </tr>
        <tr>
            <td>23:00</td>
            <td>Group Minigame: Werewolf</td>
        </tr>
    </table>

    <h3 style="margin-top: 2rem;">Sunday</h3>
    <table>
        <tr>
            <td>09:00</td>
            <td>Morning Snacks</td>
        </tr>
        <tr>
            <td>10:00</td>
            <td>Morning Walk around Campus</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Hacking Closes + Lunch (approximate timing)</td>
        </tr>
        <tr>
            <td>13:00<span class="nomob">-17:00</span></td>
            <td>Judging + Closing ceremony</td>
        </tr>
    </table>
</div>
