---
import '../styles/schedule.css';
---

<div id="schedule">
    <h2>Event schedule</h2>
    <p><i>To be confirmed</i></p>
    <h3>Saturday 16th November</h3>
    <table>
        <tr>
            <td>09:00-10:30</td>
            <td>Registration opens<br>38 Mappin Street</td>
        </tr>
        <tr>
            <td>10:45</td>
            <td>Group walk to the Diamond<br>(3 minute walk)</td>
        </tr>
        <tr>
            <td>11:00-12:00</td>
            <td>Opening ceremony</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Hacking begins!<br>Group walk back to 38 Mappin Street</td>
        </tr>
        <tr>
            <td>13:00-14:00</td>
            <td>Lunch (approximate timing)</td>
        </tr>
        <tr>
            <td>14:00-14:30</td>
            <td><a href="https://shefesh.com/" target="_blank">ShefESH</a> Challenge Kickoff</td>
        </tr>
        <tr>
            <td>15:00-16:00</td>
            <td>Making Better Hacks, Faster with GitHub Copilot, led by MLH</td>
        </tr>
        <tr>
            <td>16:00-18:00</td>
            <td>Super-secret-event<br>More details at opening ceremony!</td>
        </tr>
        <tr>
            <td>18:30-19:30</td>
            <td>!Light mini event, led by MLH</td>
        </tr>
        <tr>
            <td>19:30-20:30</td>
            <td>Dinner (approximate timing)</td>
        </tr>
        <tr>
            <td>20:30-22:00</td>
            <td>hackSheffield Dance Party (Swing Dance session, to be precise)</td>
        </tr>
        <tr>
            <td>22:00-23:00</td>
            <td>Bingo!</td>
        </tr>
        <tr>
            <td>23:00-00:00</td>
            <td>Werewolf mini event</td>
        </tr>
        <tr>
            <td>00:00-01:00</td>
            <td>Karaoke!</td>
        </tr>
    </table>

    <h3>Sunday 17th November</h3>
    <table>
        <tr>
            <td>09:00-09:30</td>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>11:00</td>
            <td>Devpost submission (upload <i>anything</i>)</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Final deadline</td>
        </tr>
        <tr>
            <td>12:30-13:30</td>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>13:00-14:30</td>
            <td>Juding</td>
        </tr>
        <tr>
            <td>15:00-16:30</td>
            <td>Closing ceremony</td>
        </tr>
        <tr>
            <td>16:30</td>
            <td>Photos</td>
        </tr>
        <tr>
            <td>17:00</td>
            <td>Close of event (latest)</td>
        </tr>
        
    </table>
</div>
