---
import '../styles/schedule.css';
---

<div id="schedule">
    <h2>Event schedule</h2>
    <h3>Saturday</h3>
    <table>
        <tr>
            <td>09:00</td>
            <td>Doors Open<br></td>
        </tr>
        <tr>
            <td>10:00</td>
            <td>Team Building<br></td>
        </tr>
        <tr>
            <td>10:30<span class="nomob">-12:00</span></td>
            <td>Opening ceremony</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Hacking begins! + <a href="https://shefesh.com/" target="_blank">ShefESH</a> Challenge Kickoff<br></td>
        </tr>
        <tr>
            <td>12:30</td>
            <td>Grafana Side Event: Introduction to using Grafana</td>
        </tr>
        <tr>
            <td>13:00<span class="nomob">-14:00</span></td>
            <td>Lunch (approximate timing)</td>
        </tr>
        <tr>
            <td>14:00<span class="nomob">-15:00</span></td>
            <td>SWICS: Kaggle Workshop</td>
        </tr>
        <tr>
            <td>15:00<span class="nomob">-16:00</span></td>
            <td>TechVision: Leetcode challenge</td>
        </tr>
        <tr>
            <td>16:00<span class="nomob">-18:00</span></td>
            <td>(Drop In) Carnival Games!</td>
        </tr>
        <tr>
            <td>19:00</td>
            <td>Dinner (approximate timing)</td>
        </tr>
        <tr>
            <td>20:00<span class="nomob">-21:00</span></td>
            <td>GameDev Soc: Gamification Mini Competition</td>
        </tr>
        <tr>
            <td>23:00</td>
            <td>Werewolf mini event</td>
        </tr>
    </table>

    <h3>Sunday</h3>
    <table>
        <tr>
            <td>09:00</td>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>10:00</td>
            <td>Morning Walk around Campus</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Hacking Closes</td>
        </tr>
        <tr>
            <td>13:00</td>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>14:00<span class="nomob">-18:00</span></td>
            <td>Judging + Closing ceremony</td>
        </tr>
    </table>
</div>
