---
// import "../styles/introduction.css"; stylesheet
// import Countdown from './countdown.astro'; any components
// import hackSheffieldLogoImage from '../img/hacksheffield9logotransparent.png' images
---

<div class="sponsors">
    <!-- Platinum -->
    <div class="sponsor-card"></div>
    <!-- Gold -->
    <div class="sponsor-card"></div>
    <!-- Silver -->
    <div class="sponsor-card"></div>
    <!-- Bronze -->
    <div class="sponsor-card"></div>
</div>
