---
import { Image } from 'astro:assets';
// import "../styles/introduction.css"; stylesheet
// import Countdown from './countdown.astro'; any components
import BlackRockLogo from '../img/blackrocklogo.png'
---

<div class="sponsors">
    <!-- Platinum -->
    <div class="sponsor-card"></div>
    <!-- Gold -->
    <div class="sponsor-card"></div>
    <!-- Silver -->
    <div class="sponsor-card"></div>
    <!-- Bronze -->
    <div class="sponsor-card">
        <Image src={BlackRockLogo} alt="blackrock logo" class="sponsor-logo"/>
        <hr>
        <p>BlackRock</p>
    </div>
</div>
