---
import HexContainer from "./hex-container.astro"
import "../styles/hex-container.css"
---
<HexContainer>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
</HexContainer>