---
import HexContainer from "./hex-container.astro"
---
<HexContainer width="30%" hexHeight="10rem" margin="0.5rem">
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
    <div>
        <img src="/placeholder.jpeg" alt="Placeholder" />
    </div>
</HexContainer>