---
import '../styles/team.css';
import { Image } from 'astro:assets';
import MattImage from '../img/team/matt.png';
import ErikImage from '../img/team/erik.png';
import EchoImage from '../img/team/echo.jpg';
import JasonImage from '../img/team/jason.jpg';

const teamMembers = [
    { image: MattImage, name: 'Matt Savin', role: 'Lead Organiser' },
    { image: ErikImage, name: 'Erik Lippert', role: 'CompSoc President' },
    { image: null, name: 'Adam Drummond', role: 'Co-Lead Organiser' },
    { image: null, name: 'Emma Spruce', role: 'Logistics Lead' },
    { image: null, name: 'Akeylah Hollow', role: 'Logistics Officer' },
    { image: JasonImage, name: 'Jason Kambites', role: 'Finance Lead' },
    { image: null, name: 'Benjamin Smith', role: 'Sponsor Liaison' },
    { image: null, name: 'Jack Gledhill', role: 'Tech' },
    { image: null, name: 'Lucas Madle', role: 'Hacker Experience' },
    { image: null, name: 'Echo Garratt', role: 'ShefESH Liaison' },
    { image: null, name: 'Euan Jones', role: 'Team Member' },

];
---

<h2 class="team-heading">Meet the team</h2>
<div id="team-wrapper">
    <div id="team-container">
        {teamMembers.map(member => (
            <div class="team-member">
                <!--<Image src={member.image} alt={member.name} class="team-member-image" />-->
                <h3 class="team-member-name">{member.name}</h3>
                <p class="team-member-role">{member.role}</p>
            </div>
        ))}
    </div>
</div>
