---
import HexContainer from "./hex-container.astro"
import "../styles/hex-container.css"
---
<div class="hex-container">
    <div class="hex-row">
        <HexContainer src="public/placeholder.jpeg" alt="Placeholder"/>
        <HexContainer src="public/placeholder.jpeg" alt="Placeholder"/>
    </div>
    <div class="hex-row">
        <HexContainer src="public/placeholder.jpeg" alt="Placeholder"/>
        <HexContainer src="public/placeholder.jpeg" alt="Placeholder"/>
        <HexContainer src="public/placeholder.jpeg" alt="Placeholder"/>
    </div>
    <div class="hex-row">
        <HexContainer src="public/placeholder.jpeg" alt="Placeholder"/>
        <HexContainer src="public/placeholder.jpeg" alt="Placeholder"/>
    </div>
</div>