---
import Header from '../components/header.astro';
import '../styles/layout.css';
---

<!DOCTYPE html>
<html>
    <head>
        <title>HackSheffield 9</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <Header />
    </body> 
</html>
